@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-primary: #fff;
  --color-primary-light: #dedede;
  --color-accent-purple: #c32bfb;
  --color-accent-pink: #f818d2;
  --color-dark-bg: #12011b;
  --color-light-bg: rgba(255, 255, 255, 0.1);

  --image-gra-primary: linear-gradient(45deg, #c32bfb, #f818d2);
  --image-gra-white: linear-gradient(45deg, #fff, #dedede);
}

@layer base {
  body {
    background-color: var(--color-dark-bg);
    color: var(--color-primary);
    font-family: var(--font-poppins);
  }
}

@utility btn-primary {
  background-image: var(--image-gra-primary);
  color: var(--color-primary);
  border-radius: 4px;
  padding: 10px 14px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.25s ease;
  cursor: pointer;
  border: none;
  outline: none;
}

@utility btn-primary:hover {
  background-image: var(--image-gra-white);
  color: var(--color-dark-bg);
}
